/*--------------- Fonts ---------------*/
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/*--------------- General settings ---------------*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: #252A37;
}

.App {
  padding: 20px;
}

.section-header {
  text-align: center;
  color: #F4D549;
  font-size: 1.8em;
  font-family: 'Ubuntu';
}

/*--------------- Navbar ---------------*/

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  background: #9e9ea3;
}

.logout-text {
  font-size: 15px;
  font-family: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif;
  color: #252A37;
  margin: 0px;
  padding-bottom: 10px;
}

.logout-hello {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 0px;
}

#navbar-btn {
  padding-top: 15px;
  color: #252a37;
  font-size: 30px;
}

#navbar-btn:hover {
  color: #F4D549;
}

#navbar-btn2 {
  color: #252A37;
  align-items: right;
  font-size: 25px;
  padding-left: 40px;
}

#navbar-btn2:hover {
  color: #F4D549;
}

/*--------------- Home ---------------*/

.frontpage-upper {
  height: 45vh;
}

.logo {
  margin-top: 2em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-form input {
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  background-color: lightgray;
  height: 40px;
  width: 220px;
  font-size: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#login-button {
  background-color: #F4D549;
  width: 80px;
  height: 60px;
  color: #252A37;
  font-size: 15px;
  font-family: 'Ubuntu';
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

/*--------------- Sign up ---------------*/

.signup-upper {
  height: 25vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.signup-upper img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: flex;
  height: 100%;
}

.signup-form {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signup-form input {
  margin: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  background-color: lightgray;
  height: 40px;
  width: 220px;
  font-size: 15px;
}

.signup-text {
  color: lightgray;
  text-align: center;
  font-size: 30px;
  font-family: 'East Sea Dokdo';
}

.signup-text a {
  color: #F4D549;
  text-decoration: none;
  font-family: 'East Sea Dokdo';
}

#signup-button {
  background-color: #F4D549;
  width: 85px;
  height: 60px;
  color: #252A37;
  font-size: 15px;
  font-family: 'Ubuntu';
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

/*--------------- AllLists ---------------*/

#dashboard-display {
  margin: auto;
  width: 90vw;
  height: 80vh;
  background-color: #9e9ea3;
  border-radius: 3px;
  overflow: "scroll";
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#create-first{
  text-align: center;
  font-size: 20px;
  font-family: 'Ubuntu';
  color: lightgray;
}

#allLists-column {
  padding: 10px;
}

#selectedList-column {
  padding: 10px;
  height: 100px;
}

#select-one-list {
  text-align: center;
  font-size: 15px;
  font-family: 'Ubuntu';
}

.list {
  background-color: rgb(117, 117, 117);
  margin: 5px;
  padding: 20px 5px 20px 20px;
  border-radius: 5px;
}

.list:hover {
  background-color: #F4D549;
}

.text-decoration-none {
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-family: "Ubuntu";
}

.list-title {
  font-family: "Ubuntu";
  text-align: center;
}

.list-task {
  font-family: "Ubuntu";
  text-align: center;
}

.twobuttons {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#edit-button {
  background-color: rgb(117, 117, 117);
  margin: 10px;
  border: 1px;
  padding: 15px 25px;
  border-radius: 3px;
}

#edit-button:hover {
  background-color: rgb(85, 85, 85);
}

#delete-button {
  background-color: rgb(187, 104, 104);
  margin: 10px;
  border: 1px;
  padding: 15px 18px;
  border-radius: 3px;
}

#delete-button:hover {
  background-color: rgb(219, 45, 45);
}

.display-form {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9e9ea3;
  border-radius: 3px;
  padding: 20px;
}

.display-form h3 {
  font-family: 'Ubuntu';
  font-size: 15px;
  text-align: center;
}

#new-list-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#new-list-form input {
  border: none;
  margin: 10px;
  height: 25px;
  width: 150px;
  border-radius: 2px;
  padding-left: 10px;
}

#edit-list-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#edit-list-form label {
  font-family: 'Ubuntu';
  font-size: 15px;
}

#edit-list-form input {
  border: none;
  margin: 10px;
  height: 25px;
  width: 150px;
  border-radius: 2px;
  padding-left: 10px;
}

#add-task-button {
  background-color: #252A37;
  border: none;
  margin: 10px;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  color: #9e9ea3;
}

#add-task-button:hover {
  background-color: #F4D549;
  color: #252A37;
}

#submit-button {
  background-color: #F4D549;
  border: none;
  margin: 10px;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  font-family: 'Ubuntu';
  font-size: 12px;
  color: #252A37;
}

#submit-button:hover {
  color: #F4D549;
  background-color: #252A37;
}

.new-task {
  font-family: "Ubuntu";
  text-align: center;
  font-size: 14px;
  border: 1px solid #252A37;
  padding: 10px;
  background-color: rgb(117, 117, 117);
}

.edit-task {
  font-family: "Ubuntu";
  text-align: center;
  font-size: 12px;
  border: 1px solid #252A37;
  padding: 5px;
}

.edit-list-form {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9e9ea3;
  border-radius: 3px;
  padding: 20px;
}

#center-button {
  display: flex;
  margin: 0 auto;
}