html, body {
  margin: 0;
  padding: 0;
  background-color: #252A37;
}

.App {
  padding: 20px;
}

.frontpage-upper{
    height: 45vh;
  }

.logo {
  margin-top: 3em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
}

/* .navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
  background-color: #F4D549;
  text-align: center;
}
*/

form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button-text {
  text-decoration: none;
}

.login-button {
  background-color: #F4D549;
  width: 80px;
  height: 50px;
  color: #252A37;
  font-size: 15px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.login-form input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

input {
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  background-color: lightgray;
  height: 45px;
  width: 240px;
  font-size: 12px;
}

.signup-text {
  color: lightgray;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-text a {
  color: #F4D549;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}